@rendermode InteractiveServer
@inject Containers.StateContainer StateContainer

<div class="background-container">
    <div class="layout-top">
        <nav class="navbar navbar-expand-lg" style="height: 100%; display: flex; align-items: center; background-color: #b6d029; color: #21241B">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" @onclick="BackToHome" @onclick:preventDefault="true">CanvaSync</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">CanvaSync</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <span class="navbar-brand" aria-hidden="true"></span>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="counter">
                                <span class="oi oi-plus" aria-hidden="true"></span>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="fetchdata">
                                <span class="oi oi-list-rich" aria-hidden="true"></span>
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="layout-middle">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnNotify { get; set; }

    private async Task BackToHome()
    {
        await OnNotify.InvokeAsync();
    }
}