@rendermode InteractiveServer
@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="background-container">
    <div class="top-box" style="position: relative;">
        <div class="main-title">
            CanvaSync
        </div>
    </div>
    <div class="bottom-box">
        <div class="button-container">
            <button class="btn-opt" style="@hostBtnStyle" 
                @onclick='() => EnterPage("host")'
                @onmouseover="HostBtnOnMouseOver" 
                @onmouseout="HostBtnOnMouseOut">Host</button>

            <button class="btn-opt"style="@guestBtnStyle" 
                @onclick='() => EnterPage("guest")'
                @onmouseover="GuestBtnOnMouseOver" 
                @onmouseout="GuestBtnOnMouseOut">Guest</button>
        </div>
    </div>
</div>

@code
{
    private void EnterPage(string option)
    {
        switch (option)
        {
            case "host":
                NavigationManager.NavigateTo("/host");
                break;
            case "guest":
                NavigationManager.NavigateTo("/guest");
                break;
            default:
                break;
        }
    }

    // 버튼 관련

    private string hostBtnStyle = "background-color:#FFB900";
    private string guestBtnStyle = "background-color: #1E84D9";

    private void HostBtnOnMouseOver()
    {
        hostBtnStyle = "background-color: #AD7A02";
    }
    
    private void HostBtnOnMouseOut()
    {
        hostBtnStyle = "background-color: #FFB900";
    }

    private void GuestBtnOnMouseOver()
    {
        guestBtnStyle = "background-color: #0E416E";
    }

    private void GuestBtnOnMouseOut()
    {
        guestBtnStyle = "background-color: #1E84D9";
    }
}
