@rendermode InteractiveServer
@page "/"

@* <button @onclick="HostPage">Host</button>
<button @onclick="GuestPage">Guest</button> *@
<DynamicComponent Type="selectedType" />

@code
{
    private readonly Dictionary<string, Type> components = new()
    {
        ["Main"] = typeof(Main),
        ["Host"] = typeof(Host),
        ["Guest"] = typeof(Guest),
    };

    private Type? selectedType;
    protected override void OnInitialized() =>
        selectedType = components["Main"];

    private void GuestPage()
    {
        Console.WriteLine("Guest!!");
        selectedType = components["Guest"];
    }

    private void HostPage()
    {
        Console.WriteLine("Host!!");
        selectedType = components["Host"];
    }
}
