@rendermode InteractiveServer
@page "/"

@if(currentComponent is null)
{
    <div class="background-container">
        <div class="top-box">
            <div class="main-title">
                CanvaSync
            </div>
        </div>
        <div class="bottom-box">
            <div class="button-container">
                <button class="btn-opt" style="@hostBtnStyle" 
                    @onclick='() => EnterPage("host")'
                    @onmouseover="HostBtnOnMouseOver" 
                    @onmouseout="HostBtnOnMouseOut">Host</button>

                <button class="btn-opt"style="@guestBtnStyle" 
                    @onclick='() => EnterPage("guest")'
                    @onmouseover="GuestBtnOnMouseOver" 
                    @onmouseout="GuestBtnOnMouseOut">Guest</button>
            </div>
        </div>
    </div>
}
else
{
    <CanvasLayout OnNotify="BackToHome">
        @if(currentComponent is not null)
        {
            <DynamicComponent Type="currentComponent" />
        }
        else
        {
            <p>Loading Component..</p>
        }
    </CanvasLayout>
}

@code
{
    private Type? currentComponent;
    private void EnterPage(string option)
    {
        switch (option)
        {
            case "host":
                currentComponent = typeof(Host);
                break;
            case "guest":
                currentComponent = typeof(Guest);
                break;
            default:
                //
                break;
        }
    }

    private void BackToHome()
    {
        currentComponent = null;
    }


    // 버튼 관련

    private string hostBtnStyle = "background-color:#FFB900";
    private string guestBtnStyle = "background-color: #1E84D9";

    private void HostBtnOnMouseOver()
    {
        hostBtnStyle = "background-color: #AD7A02";
    }
    
    private void HostBtnOnMouseOut()
    {
        hostBtnStyle = "background-color: #FFB900";
    }

    private void GuestBtnOnMouseOver()
    {
        guestBtnStyle = "background-color: #0E416E";
    }

    private void GuestBtnOnMouseOut()
    {
        guestBtnStyle = "background-color: #1E84D9";
    }
}
