@rendermode InteractiveServer
<style>
    .background-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .top-box {
        flex: 7;
        background-color: #b6d029;
        display: flex;
        justify-content: center;
    }

    .button-container {
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom-box {
        flex: 3;
        background-color: #21241B;
        display: flex;
        justify-content: center; /* 가로 중앙 */
        align-items: center;     /* 세로 중앙 */
    }

    .main-title {  
        align-self: flex-start; /* 세로 정렬은 transform으로 조절 */
        position: relative;
        top: 80%; /* 부모 높이의 70% 지점으로 이동 */
        transform: translateY(-50%); /* 텍스트 높이만큼 중앙 보정 */
        font-size: 90px;
        font-weight: 900;
    }

    .btn-opt {
        padding: 15px 30px;
        font-size: 20px;
        font-weight: bold;
        background-color: #4CAF50;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    .btn-opt:hover {
        background-color: #45a049;
    }
</style>

<div class="background-container">
    <div class="top-box">
        <div class="main-title">
            CanvaSync
        </div>
    </div>
    <div class="bottom-box">
        <div class="button-container">
            <button class="btn-opt" style="@hostBtnStyle" 
                @onclick="HostPage"
                @onmouseover="HostBtnOnMouseOver" 
                @onmouseout="HostBtnOnMouseOut">Host</button>

            <button class="btn-opt"style="@guestBtnStyle" 
                @onclick="GuestPage"
                @onmouseover="GuestBtnOnMouseOver" 
                @onmouseout="GuestBtnOnMouseOut">Guest</button>
        </div>
    </div>
</div>


@code
{
    private string hostBtnStyle = "background-color:#FFB900";
    private string guestBtnStyle = "background-color: #1E84D9";
    private void HostPage()
    {

    }

    private void GuestPage()
    {

    }

    private void HostBtnOnMouseOver()
    {
        hostBtnStyle = "background-color: #AD7A02";
    }
    
    private void HostBtnOnMouseOut()
    {
        hostBtnStyle = "background-color: #FFB900";
    }

    private void GuestBtnOnMouseOver()
    {
        guestBtnStyle = "background-color: #0E416E";
    }

    private void GuestBtnOnMouseOut()
    {
        guestBtnStyle = "background-color: #1E84D9";
    }
}